<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', path='/css/loader.css') }}" rel="stylesheet">
</head>
<body style="background-color: #141212;">
<div style="display: flex;justify-content: center;align-items: center;position: relative;top: 50px;flex-direction: column;gap: 20px;">
    <img src="{{ url_for('static', path='assets/CaesarAILogo 2.svg') }}" style="width: 300px;height: 300px;"></img>
    <h1 style="color: white;font-family: Arial, Helvetica, sans-serif;">CaesarAIQuestionChange</h1>
    <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Email: amari.caesaraicontractqa@gmail.com</p>
    <div>
        <input id="rev_subject" placeholder="Subject:"></input>
        <input id="rev_title" placeholder="Revision Card Title"></input>
    </div>
    <h2 style="color: white;font-family: Arial, Helvetica, sans-serif;">CSV Format</h2>
    <p style="color: white;font-family: Arial, Helvetica, sans-serif;">
        <strong>
        Example:
        <br>
        index,statements<br>
        0,BHK Ready to Occupy Flat for sale in Srushti Siddhi Mangal Murti Complex Bhiwandi <br>
        1,BHK Ready to Occupy Flat for sale in Dosti Vihar Pokhran Road<br>
        2,BHK Ready to Occupy Flat for sale in Sunrise by Kalpataru Kolshet Road<br>
        3,BHK Ready to Occupy Flat for sale Kasheli
        <br>
        <br>
        Result:
        <br>
        index,question<br>
        0,Is the flat ready to be occupied?<br>
        1,Is 2 BHK Ready to Occupy Flat for sale in Dosti Vihar Pokhran Road up to good standard?<br>
        2,Is the 2 BHK Ready to Occupy Flat for sale in Sunrise by Kalpataru Kolshet Road up to good standard?<br>
        3,Is the flat ready to be occupied?
    </strong>
    </p>
    <input type="file" id="csvfile" onchange="sendcsv()" hidden></input>
    <label for="csvfile" style="background-color: blue;padding: 20px;border-radius: 10px;color: white;cursor: pointer;font-family: Arial, Helvetica, sans-serif;"><strong>Choose File</strong></label>
    <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-size: 20px;">Enter a Statement to change into a Question:</p>
    <div>
    
    <input id="statement" style="width: 300px;height: 30px;" ></input>
    
    <a onclick="sendstatement()" style="height: 30px;background-color: blue;padding: 10px;border-radius: 5px;color: white;font-family:  Arial, Helvetica, sans-serif;cursor: pointer;">Submit</a>
    <div id="loadercontainer" style="display: flex;justify-content: center;align-items: center;margin-top: 20px;flex-direction: column;gap:20px;" >
    </div>
    </div>
</div>



</body>
<script>
    function loadingspinner(){
        let loadercontainer = document.getElementById("loadercontainer")
        const loader = document.createElement("div");
        loader.className = "loader"
        loadercontainer.appendChild(loader)
        return [loadercontainer,loader]
    }
    function sendstatement(){
        let [loadercontainer,loader] = loadingspinner()
        let statement = document.getElementById("statement").value
        console.log(statement)
        if (statement === ""){
            alert("Fill in the field.")
            loader.remove()
        }
        else{
            fetch("http://127.0.0.1:9000/changetoquestion", {
            method: "POST",
            body: JSON.stringify({"text":statement}),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
            })
            .then((response) => response.json())
            .then((json) => {
                console.log(json);
                const output_text = document.createElement("p");
                output_text.innerText = json.output_text
                output_text.style = "color:white;font-size:20px;font-family: Arial, Helvetica, sans-serif;"
                loadercontainer.appendChild(output_text)
                
                loader.remove()
            
            });
            
        }

        
 
    }
    async function submitRevisionBank(){
        let [loadercontainer,loader] = loadingspinner()
        let csv_text = document.getElementById("csv_result").innerText
        let rev_subject = document.getElementById("rev_subject").value
        let rev_title = document.getElementById("rev_title").value
        if (rev_subject === "" || rev_title === ""){
            alert("Fill in subject and title.")
            loader.remove()
        }
        else{
            const response = await fetch("https://revisionbankbackendsql-aoz2m6et2a-uc.a.run.app/loginapi", {
            method: "POST",
            body: JSON.stringify({"email":"amari.caesaraicontractqa@gmail.com","password":"kya63amari"}),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
            })
            const result = await response.json()
            //console.log(result)
          
            let json_send = {"revisioncardscheduler":
            {"sendtoemail":"amari.lawal@gmail.com",
            "revisionscheduleinterval":"30MI",
            "revisioncards":[
                {"subject":rev_subject,"revisioncardtitle":rev_title,"revisionscheduleinterval":"30MI","revisioncard":csv_text,
            "revisioncardimgname":[],
            "revisioncardimage":[]}]}}

            const responsestore = await fetch("https://revisionbankbackendsql-aoz2m6et2a-uc.a.run.app/storerevisioncards", {
            method: "POST",
            body: JSON.stringify(json_send),
            headers: {
                "Content-type": "application/json; charset=UTF-8",
                "Authorization": `Bearer ${result.access_token}`
            }
            })
            const resultstore = await responsestore.json()
            console.log(resultstore)
            alert(resultstore.message)
            loader.remove()

            
        }
 
                          /*
                            data = data_json["revisioncardscheduler"]
            sendtoemail = data["sendtoemail"]
            for revisioncard in data["revisioncards"]:
                revisioncard = {"subject":revisioncard["subject"],"sendtoemail":sendtoemail,"revisioncardtitle":revisioncard["revisioncardtitle"],
                "revisionscheduleinterval":revisioncard["revisionscheduleinterval"],"revisioncard":revisioncard["revisioncard"],"revisioncardimgname":
                revisioncard["revisioncardimgname"],"revisioncardimage":revisioncard["revisioncardimage"]}*/

                

    }

    function sendcsv(){
        let [loadercontainer,loader] = loadingspinner()
        const selectedFile = document.getElementById("csvfile").files[0];
        var reader = new FileReader();
        const output_qs = []
        reader.readAsDataURL(selectedFile);
        reader.onload = function () {
            let csvb64 = reader.result.replace("data:text/csv;base64,","")
            
            let ws = new WebSocket("ws://127.0.0.1:9000/changetoquestioncsvws");
            ws.onopen = function (event) {
                ws.send(JSON.stringify({"file":csvb64}));
            };
            ws.onmessage = (event) => { 
               
                let result = JSON.parse(event.data)
                
                if ("result" in result){
                    ws.close()
                    loader.remove()
                    let csv_buff = "index,question\n"
                    for (let i = 0; i < output_qs.length; i++) {
                    csv_buff += `${i},${output_qs[i]}\n`
 
                    }
                    const csv_header = document.createElement("h1");
                    csv_header.innerText = "CSV Results:"
                    csv_header.style = "color:white;font-family: Arial, Helvetica, sans-serif;"
                    const csv_text = document.createElement("p");
                    csv_text.innerText = csv_buff
                    csv_text.id = "csv_result"
                    csv_text.style = "color:white;font-size:20px;font-family: Arial, Helvetica, sans-serif;"
                    loadercontainer.appendChild(csv_header)
                    loadercontainer.appendChild(csv_text)
                    console.log(csv_buff,"csv")

                    // Submit to RevisionBank
                    const revbank_button = document.createElement("a")
                    revbank_button.innerText = "Submit RevisionBank"
                    revbank_button.style = "height: 20px;background-color: blue;padding: 5px;border-radius: 5px;color: white;font-family:  Arial, Helvetica, sans-serif;cursor: pointer;margin-bottom: 100px;"
                    revbank_button.onclick = submitRevisionBank
                    loadercontainer.appendChild(revbank_button)
                    loader.remove()

                }
                else if("error" in result){
                    alert(result.error)
                    loader.remove()
                }
                else{
                    console.log(result)
                    const output_text = document.createElement("p");
                    output_text.innerText = result.output_text
                    output_text.style = "color:white;font-size:20px"
                    loadercontainer.appendChild(output_text)
                    output_qs.push(result.output_text)
                }



            }

        };


    }
</script>
</html>